* {
  /* border: 1px solid black; */
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d263a;
}

nav {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  position: fixed;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: fixed; */
  background-color: white;
  font-size: 17px;
  margin: 52px 50px;
}

#main {
  margin-top: 130px;
}

.main {
  display: flex;
}

.main-contant {
  /* top left, top right, bottom right, bottom left */
  border-radius: 0 30px 30px 0;
  padding: 10% 50px;
  /* padding-left: 60px; */
  background-color:  #6d043009;
    /* opacity: 0.05; */
  /* background-color: rgba(248, 242, 245, 255); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main > img {
  max-width: 50%;
  object-fit: contain;
  border-radius: 30px 0 0 30px;
}

h6 {
  font-size: 13px;
  letter-spacing: 6px;
}

.pink {
  color: #eb5296;
}

h2 {
  font-size: 55px;
  line-height: 66px;
}

.main-contant > p {
  font-size: 15px;
  line-height: 28px;
  opacity: 0.7;
}

.advantages {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle {
  background-color: rgba(253, 238, 244, 255);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /* border: 1px solid black; */
  /* width: 30%; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.adv-heading {
  font-size: 24px;
  margin-bottom: 15px;
}

.adv-par {
  font-size: 15px;
  line-height: 28px;
  color: #102a42;
  opacity: 0.8;
  padding-right: 15px;
}

.adv {
  padding: 20px;
}

.explore {
  justify-content: space-between;
}

.explore-heading {
  font-size: 42px;
  letter-spacing: -1px;
}

.arrow {
  font-size: 35px;
  color: black;
}

.left {
  margin-right: 30px;
  opacity: 0.7;
}

.explore-images {
  justify-content: space-between;
  margin: 50px 60px;
}

.explore-images > img {
  max-width: 30%;
  object-fit: contain;
}

/* .right-box {
  border: 1px solid black;
}

.right-box > img {
  position: relative;
}

.mopond {
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    position:absolute;
}

.mopond > h3 {
    font-size: 32px;
    letter-spacing: -1px;
}


.mopond > .card > p {
    font-size: 13px;
    letter-spacing: 4px;
    margin: 15px;
    /* opacity: unset; */

#how-we-do-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(252, 253, 253, 255);
  /* opacity: 0.02; */
}

#how-we-do-it > h2 {
  font-size: 42px;
}

.single-how-we-do {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  border-bottom: #eb5296; /*doesn't work */
}

.num-header {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: baseline;
  justify-content: space-around;
}

.cont-learn {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: baseline;
  justify-content: space-around;
}
.cont-learn > p {
  width: 50%;
  font-size: 15px;
  line-height: 30px;
  opacity: 0.6;
}

.num-header > h2 {
  font-size: 36px;
  width: 50%;
}

.num-header > h3 {
  font-size: 28px;
  color: #6d0430;
}

.spend-time-box {
  display: flex;
  flex-direction: row;
}

.spend-time-box > img {
  max-width: 50%;
  object-fit: contain;
  border-radius: 15px;
}

.spent-time-contant {
  margin: 10% 15% 10% 10%;
}

.spent-time-contant > h2 {
  font-size: 42px;
  margin-bottom: 7%;
}

.love-box {
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", sans-serif; /*doesn't work */
  margin-bottom: 100px;
}

.trans-par {
  font-size: 15px;
  line-height: 30px;
  opacity: 0.6;
  margin-bottom: 20%;
}

.love-contant {
  background-color: #6d0430;
  color: white;
  padding: 100px;
}

.love-contant > h2 {
  font-size: 39px;
  letter-spacing: -1px;
  line-height: 50px;
  margin-bottom: 75px;
}

.writer > h6 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
}

.writer > p {
  font-size: 17px;
  line-height: 30px;
  opacity: 0.8;
}
#subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(252, 253, 253, 255);
}

#subscribe > h2 {
  width: 30%;
  font-size: 42px;
  margin-bottom: 30px;
}

#subscribe > p {
  font-size: 17px;
  line-height: 30px;
  opacity: 0.8;
  width: 30%;
}

form {
  padding: 70px;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%; /*doesn't work */
}

form > div {
}

.label {
  font-size: 17px;
  font-weight: 600;
  width: 100%;
}
.input {
  margin-bottom: 35px;
  margin-top: 25px;
  padding-bottom: 7px;
  display: block;
  border: unset;
  border-bottom: 1px solid black;
  opacity: 0.5;
  width: 50%;

}

/* textarea {
  width: 100%;
  height: 80px;
  background: repeating-linear-gradient(to bottom, #0000, #0000 19px, #000 19px, #000 20px);
  border: 1px solid #000;
  line-height: 20px;
  resize: none;
} */


textarea {
  border: none;
  border-bottom: 1px solid rgba(10, 4, 60, 0.15);

  background: repeating-linear-gradient(
      to bottom,
      rgba(10, 4, 60, 0.15) 0 1px,
      transparent 1px 37px
    )
    0 43px / 100% content-box no-repeat;
  outline: none;
  line-height: 37px;

  margin-left: 3.75rem;

  width: 449px;
  resize: none;
}
